h1,h3 {
  color: var(--orange);
}

h2,h4 {
  color: var(--white);
}

.homeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: calc(100dvh - 3.5rem);
  overflow: hidden;
}

.threadBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.formBg {
  height: 70vh;
  background-color: var(--bgform);
  padding: 20px;
  border-radius: 20px;
  margin: 0;
  min-width: 355px;
  width: 35%;
  text-align: center;
}

.formBgDetails {
  background-color: var(--bgform);
  padding: 20px;
  border-radius: 20px;
  margin: 0;
  min-width: 355px;
  width: 35%;
  text-align: center;
}

.btn-container {
  padding: 0px 50px;
}

.white-text {
  color: white;
}

input::placeholder,
textarea::placeholder {
  text-align: center;
}


