h1,h3 {
  color: var(--orange);
  font-weight: bolder
}

h2,h4 {
  color: var(--white);
  font-weight: bolder
}

.border-cat{
  border: 2px solid black;
  padding: 10px;
}

.homeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkGrey);
  height: calc(100dvh - 3.5rem);
  overflow: hidden;
}

.threadBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkGrey);
}

.formBg {
  height: 70vh;
  background-color: var(--bgform);
  padding: 20px;
  border-radius: 20px;
  margin: 0;
  min-width: 355px;
  width: 35%;
  text-align: center;
}

.formBgDetails {
  background-color: var(--bgform);
  padding: 20px;
  border-radius: 20px;
  margin: 0;
  min-width: 355px;
  width: 35%;
  text-align: center;
}

.formBgCreate {
  width: 50%;
  text-align: center;
}

#thread_form_description {
  height: 70px;
  border-radius: 8px !important;
  text-align: start !important;
}

#thread_form_title {
  text-align: start !important;
  border-radius: 8px !important;
}

#thread_form_categories, #thread_form_status {
  background-color: var(--grey);
  font-weight: bold;
}

#thread_form_main {
  height: 100px;
  border-radius: 8px !important;
  text-align: start !important;
}

.btn-container {
  padding: 0px 50px;
}

.white-text {
  color: white;
}

input::placeholder,
textarea::placeholder {
  text-align: center;
  font-weight: bold;
  color: black !important;
}

